:root {
    --primary-color: #F64C72;
    --secondary-color: #2F2FA2;
    --tertiary-color: #553D67;
    --white-color: #978E93;
    --black-color: #0A0A0A;
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

.header {
    background-color: var(--primary-color);
    height: 10rem;
    padding: 3rem;
    color: var(--black-color);
    font-family: sans-serif;
}

.wrapper {

}

#sidebar {
    background-color: var(--primary-color);
    width: max-content;
    height: 100vh;
    padding: 0 2rem;
    color: var(--black-color);
    font-family: sans-serif;
}

.sidebar-header {
    padding: 1rem 1rem;
    font-weight: 700;
}
.no-display{
    display: none;
}

.footer {
    background-color: var(--primary-color);
    height: 10rem;
    padding: 3rem;
    color: var(--black-color);
    font-family: sans-serif;
}

.stats-wrapper {
    display: none;
}

.tickets-wrapper {
    display: none;
}

.show {
    display: block !important;
}