:root {
    --primary-color: rgb(235, 117, 6);
    --secondary-color: rgb(47, 162, 118);
    --tertiary-color: #553D67;
    --light-color: #f4f0f7;
    --black-color: #0A0A0A;
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

.header {
    background-color: var(--primary-color);
    height: 10rem;
    padding: 3rem;
    color: var(--black-color);
    font-family: sans-serif;
}

#sidebar {
    background-color: var(--primary-color);
    width: max-content;
    height: 100vh;
    padding: 0 2rem;
    color: var(--black-color);
    font-family: sans-serif;
}

.sidebar-header {
    padding: 1rem 1rem;
    font-weight: 700;
}
.no-display{
    display: none;
}

.footer {
    background-color: var(--primary-color);
    height: 10rem;
    padding: 3rem;
    color: var(--black-color);
    font-family: sans-serif;
}

.show {
    display: block !important;
    opacity: 1 !important;
}
.dimmer {
    display: none;
    background-color: var(--black-color);
    opacity: 0.9;
    position: fixed;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.login-dimmer {
    display: none;
    background-color: var(--black-color);
    opacity: 0.95;
    position: fixed;
    padding-left: auto;
    padding-right: auto;
    padding-top: 2%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.login-form-container {
    width: max-content;
    padding: 4rem; 
    margin: 0 auto;
    text-align: left !important;
}
.login-input {
    font-size: 2rem;
    text-align: left;
}
#login-form-info {
    opacity: 0;
    font-size: .7rem;
    font-weight: 600;
    transition: 0.1s all;
}
.cart {
    position: fixed;
    display: inline;
    max-width: 2rem;
    max-height: 2rem;
    top: 11.5rem;
    right: 2rem;
    transition: 0.3s;
}
.cart:hover{
    max-width: 3rem;
    max-width: 3rem;
}
.cart-animate-shake{
    animation-name: shake;
    animation-duration: 0.5s;
}
    @keyframes shake{
        0% {right: 2rem;}
        20% {right: 1.5rem;}
        40% {right: 2rem;}
        60% {right: 1.5rem;}
        100% {right: 2rem;}
    }
.cart-count {
    position: relative;
    max-width: 1rem;
    min-width: 1rem;
    background-color: var(--tertiary-color);
    border-radius: 0.5rem;
    left: 1rem;
    top: -3rem;
    z-index: 150;
    text-align: center;
    color: var(--light-color);
}
.rotate{
    transform-origin: center;
    transition: transform 0.150s linear;
}
    .rotate-180{
        transform: rotate(180deg);
    }.navigation-button {
    color: var(--primary-color);
    background-color: white;
    font-weight: bold;
}
#admin-button {
    background-color: var(--secondary-color);
}
.primary-stroke{
    stroke: var(--primary-color);
    fill: var(--primary-color);
}
