:root {
    --primary-color: rgb(235, 117, 6);
    --secondary-color: #2F2FA2;
    --tertiary-color: #553D67;
    --white-color: #978E93;
    --light-color: #f4f0f7;
    --black-color: #0A0A0A;
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

.header {
    background-color: var(--primary-color);
    height: 10rem;
    padding: 3rem;
    color: var(--black-color);
    font-family: sans-serif;
}

#sidebar {
    background-color: var(--primary-color);
    width: max-content;
    height: 100vh;
    padding: 0 2rem;
    color: var(--black-color);
    font-family: sans-serif;
}

.sidebar-header {
    padding: 1rem 1rem;
    font-weight: 700;
}
.no-display{
    display: none;
}

.footer {
    background-color: var(--primary-color);
    height: 10rem;
    padding: 3rem;
    color: var(--black-color);
    font-family: sans-serif;
}

.show {
    display: block !important;
}
.dimmer {
    display: none;
    background-color: var(--black-color);
    opacity: 0.9;
    position: fixed;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.cart {
    position: fixed;
    max-width: 2rem;
    max-height: 2rem;
    top: 10%;
    left: 1rem;
    transition: 0.3s;
}
.cart:hover{
    max-width: 3rem;
    max-width: 3rem;
}
.cart-count {
    position: relative;
    max-width: 1rem;
    min-width: 1rem;
    background-color: var(--tertiary-color);
    border-radius: 0.5rem;
    left: 1rem;
    top: -3rem;
    z-index: 150;
    text-align: center;
    color: var(--light-color);
}